html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{margin:0;background:#fff}a{text-decoration:none}
/* Mobil */
#bahor{text-align:center;background:#B1E2C1;border:1.5px solid #278A5B;font-family:"Oswald"}.w3-round-xxlarge{font-size:20px;font-weight:bold;background:#297B9A;color:#DEEFFF}