html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{margin:0;background:#fff}a{text-decoration:none}
/* Mobil */
#mobil_top{position:fixed;width:100%;z-index:1;top:0;background:#fff;box-shadow:0 4px 4px 0 rgba(0,0,0,0.12),0 4px 4px 0 rgba(0,0,0,0.20)}
#mobil_header{padding-top:5.5px;padding-left:22px;padding-bottom:5px}
#mobil_logotip{padding-left:2px;font-size:27px;color:#297B9A;font-family:"Oswald";font-weight:bold;-webkit-user-select:none;-ms-user-select:none;user-select:none}
#oval{background:#D0EEFF;border-radius:0 0 30% 0;border-bottom:3px solid #297B9A}
#oval-text{padding-left:24px;padding-bottom:8px;font-size:22px;font-weight:bold;color:#297B9A}
#mavzular{text-align:center;background:#DEEFFF;border:1.5px solid #297B9A;font-family:"Oswald"}.far,.fas{font-size:72px;color:#297B9A}.w3-round-xxlarge{font-size:20px;font-weight:bold;background:#297B9A;color:#DEEFFF}


#galereya.fas {
    text-align: center;
    background: #FFDDDD;
    border: 1.5px solid #FF8888;
    font-family: "Oswald";
}

